
body {
    font-family: 'Varela Round', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.over-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;        
    background-color: rgba(0, 0, 0, 0.7);
}

.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    position: absolute;
    content: "";
    width: 0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.6) ;
    transition: width .5s;
    z-index: -1;


}
.ltr-effect:hover:after{
    width: 100%;
}

.clear{
    clear: both;
}
.continer{
    width: 90%;
    height: 20px;
    margin: auto;
}
a{
    text-decoration: none;
}
button{
    font-family: inherit;
}
.hover-opctiy:hover{
    opacity: .8;
}
.hover-opctiy:hover{
    transition: opcity .5s;
}

.section-header{
    text-align: center;
    margin-bottom: 20px;
    
}
.section-header , .section-title{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line{
    display: block;
    height: 4px;
    width: 60px;
    margin: 0 auto 70px;
    background-color: #6195ff;


} 
.pd-y {
    padding: 120px 0;
}
/*header*/


.Header{ 
    position: fixed;
    width: 100%;
    z-index: 10;

}
 
/*.Header-content{
    overflow: hidden;
}*/

.Header .logo{
    width: 40%;
    float: left;

}

.Header img{
    width: 20%;
    margin-top: 15px;
}

.Header .nav {
    float: left;
    list-style: none;
    text-align: right;
}
 
.Header .nav > li{
    display: inline-block;
    text-align: right;
}

.Header .nav > li  >a {
    text-decoration: none;
    padding: 30px 15px;
    display: block;
    color: white;
    font-size: 15px;

}


.Header .nav > li  > a:after ,
 .Header .nav  > li > a.active:after{
    content: "";
    display: block;
    height: 2px;
    margin-top: 2px;
    background-color:#6195ff ;
    transition: width 0.5s;
}
.Header .nav  > li > a:after{
    
    width: 0%;
    
}
.Header .nav > li > a.active:after{
   
    width: 100%;
   
}

.Header .nav > li > a:hover:after {
    width: 100%;
}
 
 
/*End Header*/
 /*home*/
 .home{
     height: 100vh; 
     background-image: url(../images/background/background1.webp);
     background-size: cover;
     position: relative;
 }
 
 .home-content{
     position: absolute;
     width: 56%;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     text-align: center;
 }
 .home .title{
     color: white;
     font-size: 2.5rem;
     text-transform: uppercase;
 }
 .home .home-dec {
     margin: 20px 0;
     color: white;
     letter-spacing: 2px;
     line-height: 1.5;
 }
 .home .btn-start{
        border: 0;
        border-radius: 5px;
        width: 160px;
        padding: 15px 0;
        font-size: 20px;
        cursor: pointer;
        background-color: white;
    }
 
    .home .btn-learn{
        border: 0;
        border-radius: 5px;
        width: 160px;
        padding: 15px 0;
        font-size: 20px;
        cursor: pointer;
        color: white;
        background-color: #6195ff;
}

 /*End home*/

 /* section about*/
 
 .about-content{
     overflow: hidden;
 }

 .about-item{
     width: 30%;
     float: left;
     text-align: center;
     border: 1px solid #e8e8e8;
     padding: 50px 20px;
     transition: color .5s;

 }
 
 .about-item.mg{
     margin: 0 5%;
 }
 .about-item .icon{
     color: #6195ff;
     margin-bottom: 10px;
 }
 .about-title{
     text-transform: capitalize;
     margin-bottom: 10px;
 }
 .about-item:hover {
     color: white;
 }
 .about-title{
     line-height: 1.8;
     margin-bottom: 10px;
 }

 .about-item-link{
     color: #6195ff;
     text-transform: capitalize;
 }
 /*End about*/

 /*portfolio*/

 .portfolio{
     overflow: hidden;
     margin-top: 150px;
     padding: 120px 0;
     background-color: #f8f8f8;

 }
 .portfolio-content{
     overflow: hidden;
 }

 .portfolio-item{
     width: 30%;
     float: left;
     margin-bottom: 60px;
     position: relative;
     padding: 20px;


 }
 .portfolio-item .layer-content{
     position: absolute;
     top: 0;
     left: 0;
    width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0,.7);
     opacity: 0;
     transition: opacity .5s;

 }
 .portfolio-item:hover .layer-content-title,
 .portfolio-item:hover .layer-content a,
 .portfolio-item:hover .layer-content .category{
     top: 0;
     opacity: 1;
 }

 .portfolio-item.mg{
     margin: 0 5%;
 }

 .portfolio-item img{
     width: 100%;
 }

 .layer-content .layer-info{
     position: absolute;
     left: 50%;
     top: 50%;
     width: 80%;
     text-align: center;
     transform: translate (-05%,-50%);
   
 }
 .portfolio-item:hover .layer-content{
     opacity: 1;
     visibility: visible;

 }

 .layer-content .category{
     color: #6195ff;
     text-transform: uppercase;
     display: block;
     margin-bottom: 5%;
     transition: top .5s;
     transition-delay: .5s;

     opacity: 0;
 }
 .layer-content title{
     font-size: 20px;
     margin-bottom: 10px;
     color: #f8f8f8;
     transition: top .5s;
     transition-delay : 0.3s;
     opacity: 0;

 }
 .layer-content a{
     color: #f8f8f8;
 }

 .layer-content a{
     display: inline-block;
     width: 40%;
     height: 40%;
     line-height: 40px;
     background-color: #6195ff;
     transition: top .5s;
     transition-delay:.5s ;
     opacity: 0;
 }